@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

 #carousel .carousel-item.hilltop_1{
   background-image: url("./photos/bg-3.jpg");
 }

 #carousel .carousel-item.hilltop_2{
   background-image: url("./photos/bg-1.jpg");
 }

 #carousel .carousel-item.hilltop_3{
   background-image: url("./photos/bg-2.jpg");
 }
#carousel{
  height:80vh;
  width:50%;
}
 #carousel .carousel-item{
  height:80vh;
  width:100%;
  min-height:350px;
  background:no-repeat center center scroll;
  background-size:cover;
}

#carousel .carousel-inner .carousel-item{
  transition:-webkit-transform 2s ease;
  transition:transform 2s ease;
  transition:transform 2s ease, -webkit-transform 2s ease;
}

#carousel .carousel-item .caption{
  background:rgba(0,0,0,0.5);
  padding:40px;
  color:white;
  animation-duration: 1s;
  animation-delay: 2s;
}


#carousel .caption h2{
  animation-duration: 1s;
  animation-delay: 2s;
}
#carousel .caption p{
  animation-duration: 1s;
  animation-delay: 2.2s;
}

#carousel .caption a{
  animation-duration: 1s;
  animation-delay: 2.4s;
}
