#reservation {
    margin: 20px 100px;
    margin-top: 50px;
    color: #4d312c;
    @media (max-width: 900px){
        margin: 10px 10px;
    }
    h2 {
        display: inline-block;
        font-size: 30px;
        border-bottom: 2px solid rgba(106, 106, 106, 0.38);
        &:hover {
            opacity: 1.2;
        }
        margin-bottom: 20px;
    }

    #info {
        display: flex;
        align-items: center;
        justify-content: space-around;

        #about_form {
            width: 40%;
            font-family: $body-font;

            p {
                font-size: 15px;
                margin: 10px 0 20px;
            }
            input{
                width: 400px;
                height: 50px;
                margin: 5px auto;
                padding-left: 15px;
                border: none; /* <-- This thing here */
                border:solid 1px #ccc;
                border-radius: 15px;
              }
            button{
                background:#fe5f41;
                color: white;
                width: 200px;
                height: 45px;
                font-size: large;
                border-radius: 15px;
                a{
                    transition: all .8s;
                    &:hover{
                        color: white;
                        font-size: 20px;
                        
                    }
                }
            }
        }


        figure {
            background-image: url("/photos/img-1.jpg");
            background-size: cover;
            background-position: center;
            height: 480px;
            width: 50%;
            border-radius: 5px;
            box-shadow: -4px 4px 14px 3px rgba(80, 80, 80, .44);
            transition: all .5s;
            &:hover {
                transform: scale(1.01);
            }
        }

        @media (max-width: 900px){
          flex-direction: column !important;
          #about_form {
              width: 85%;
          }


          figure {
              height: 420px;
              width: 90%;
          }
        }
    }
}