#asianCartSection{
    display: flex;
    flex-direction: column;
    text-align: center;
    .asiaCart{
        margin-top: 110px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .asiaCart__sec1{
            display: flex;
            flex-direction: column;
            background-color: rgb(247, 247, 247);
            width: 60%;
            border-top-left-radius: 20px;
            .asiaCart__sec1__title{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: #df583e;
                border-top-left-radius: 20px;
                color: white;
            }
            .asiaCart__sec1__detail{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 10px;
                img{
                    width: 90px;
                    height: 60px;
                    border-radius: 5px;
                }
            }
        }
        .asiaCart__sec2{
            display: flex;
            flex-direction: column;
            background-color: #fff4f2;
            width: 25%;
            border-top-right-radius: 20px;    
            .asiaCart__sec2__title{
                border-top-right-radius: 20px;
                background-color: #df583e;
                color: white;
    
            }
        }
    }
    .asiaCheckOut{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

        .asiaCheckOut__1{
            width: 60%;
            background-color: rgb(247, 247, 247);
            border-bottom-left-radius: 20px;
            padding-top: 10px;
        }
        .asiaCheckOut__2{
            width: 25%;
            background-color: rgb(247, 247, 247);
            border-bottom-right-radius: 20px;
            a{
                button{
                    border-radius: 8px;
                    width: 110px;
                    height: 40px;
                    margin: 3px;
                    background-color: #df583e;
                    color: white;
                }
            }
        }
    }
}