/*===== Colores =====*/
$first-color: #3664F4;
$white-color: #E6E7E9;
$dark-color: #070D1F;
$dark-color-alt: #282B3A;
$crimson: #DC143C;
$tomatio: #FF6347;
$pale-yellow:#f4d140;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/*===== Fuente y tipografia =====*/
$body-font: 'Poppins', sans-serif;
$top-gap: 5rem;
$nav_font: 'Varela Round', sans-serif;

/*===== z index =====*/
$z-fixed: 100;
